<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>TODO 登录界面</title>

    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
    <script src="../static/js/jquery-3.0.0.min.js"></script>
    <script src="../static/js/api.js"></script>

    <script>
        var normalLogin = function(){
            $('#id-button-submit').on('click', function(){
              var username = $('#id-text-username').val();
              var password = $('#id-text-password').val();
              var account = {
                username: username,
                password: password,
              };
              var success = function (r) {
                    log('login, ', r);
                    if(r.success) {
                        window.location.href = r.url
                    } else {
                        alert(r.data);
                        window.location.href = r.url
                    }
                };
                var error = function (err) {
                    log(err);
                };
                vip.login(account, success, error);
                })
        };

        var touristLogin = function(){
            $('#id-button-tourist').on('click', function(){
                var account = {
                username: 'Tourist',
                password: '111',
              };
              var success = function (r) {
                    log('login, ', r);
                    if(r.success) {
                        window.location.href = r.url
                    } else {
                        alert(r.data);
                        window.location.href = r.url
                    }
                };
                var error = function (err) {
                    log(err);
                };
                vip.login(account, success, error);
                })};

        $(document).ready(function(){
            normalLogin();
            touristLogin()
        })
    </script>
</head>

<body>

<div>
    <div class="container">
        <form class="form-login" >
            <h2 class="form-login-heading">sign in now</h2>
            <div class="login-wrap">
                <input type="text" class="form-control" id="id-text-username" placeholder="User ID">
                <br>
                <input type="text" class="form-control" id="id-text-password" placeholder="Password">
                <label class="checkbox">
                    <span class="pull-right">
                        <button class="btn btn-success btn-sm" data-toggle="modal" id="id-button-tourist">游客登录</button>
                    </span>
                </label>
                <button class="btn btn-theme btn-block" id="id-button-submit" type="button">登录
                </button>
                <hr>
                <div class="registration">
                    <p>没有账号?
                    <a class="btn btn-theme btn-block" href="/register">
                        点击创建
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="../static/js/jquery.js"></script>
<script src="../static/js/bootstrap.min.js"></script>

<script type="text/javascript" src="../static/js/jquery.backstretch.min.js"></script>
<script>
    $.backstretch("../static/img/login-bg.jpg", {speed: 500});
</script>

</body>
</html>
